body{
    margin: 0;
    text-align: center;
    font-family: 'Verdana';
}

.wrapper{
    max-width: 600px;
    margin: 0 auto;
}
header{
    background-image: url("images/bg_img.png");
    width: 600px;
    height: 167px;
}

.food-wrapper{
    padding: 67px 35px 20px;
}

.food-container{
    display: flex;
    padding: 35px 0;
}

.food-title{
    text-align: left;
    margin-left: 31px;
}

.food-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: solid 1px rgb(99, 97, 97);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
}

.food-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-img{
    width: 70px;
    height: 89px;
}

.food {
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
}

.food-type{
    font-size: 28px;
}

.food-toppings{
    margin-top: 8px;
    font-size: 16px;
    color: #8B8B8B;
}

.food-price{ 
    margin-top: 8px; 
    line-height: 24px;
}


.food-hr {
    border: 1px solid #D2D2D2
}

.order{
    display: none;
    flex-direction: column;
    padding: 20px 35px 35px;
} 

.order-item{
   display: flex;
}

.order-remove{
    margin-left: 15px;
    color: #BBBBBB;
}

.order-price{
    margin-left: auto;
    
}

.total{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 53px;
}

.grand-total{
    font-size: 20px;
}

.total-hr{
    border: 1px solid #D2D2D2;
    padding-bottom: 13px;
}

.btn{
    background-color: #16DB99;
    display: block;
    width: 100%;
    border: none;
    font-style: normal;
    color: white;
}

.order-btn{
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}


.modal-wrapper{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    margin: auto;
    top: 292px;
    left: 0;
    right: 0;
    background-color: white;
    width: 524px;
    height: 542px;
    border-radius: 4px;
}

.modal-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 25px;
}

.modal-inner h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.modal-inner input{
    width: 100%;
    height: 72px;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #757575;
    padding: 25px;
    box-sizing:border-box;
}

.modal-inner input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #757575;
}


.pay-btn{
    width: 100%;
    height: 72px;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    padding: 0;
}

.thank-wrapper{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.thank-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECFDF5;
    color: #065F46;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 17px;
    height: 120px;
    width: 100%;
}